<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ChicCart - Bootstrap eCommerce Template</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="ChicCart - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/users/assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/users/assets/images/icons/favicon-new.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/users/assets/images/icons/favicon-new.png">
    <link rel="manifest" href="/users/assets/images/icons/site.html">
    <link rel="mask-icon" href="/users/assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="/users/assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="ChicCart">
    <meta name="application-name" content="ChicCart">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="/users/assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/users/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/users/assets/css/plugins/owl-carousel/owl.carousel.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/users/assets/css/style.css">
</head>
<body>
    
