<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

  <title>Sign In Page</title>
  <style>
    body {
        background: url('./users/assets/images/wallpapper2.webp') center center fixed;
      background-size: cover;
    }

    .signin-form {
      background-color: rgba(255, 255, 255, 0.8);
      padding: 20px;
      border-radius: 10px;
      margin-top: 100px;
    }

    .signin-heading {
      font-weight: bold;
      text-align: center;
      margin-bottom: 20px;
    }

    /* .signin-button { */
      /* border-radius: 5px; */
      /* width: 150px; Adjust the width as needed */
      /* margin: 0 auto; Center the button */
    /* } */

    .signin-button {
      border-radius: 15px;
    }

    .forgot-password-link,
    .signup-link {
      text-align: center;
      margin-top: 15px;
    }
    .password-input {
    position: relative;
    }

    .toggle-password {
    position: absolute;
    top: 60%;
    right: 45px;
    transform: translateY(-50%);
    cursor: pointer;
    }

  </style>
</head>
<body>

  <div class="container text-center mt-4">
    <!-- Logo Space -->
    <img src="/users/assets/images/chiccart-high-resolution.png" alt="ChicCart Logo" width="110" height="25">

  </div>
 

      <% if (error && error.length > 0) { %>
      <div id="alertMessage" class="alert alert-primary " style="width: 50%; margin: auto;" role="alert">
        <%= error %>
    </div>
    <script>
      setTimeout(() => {
        var alertMessage=document.getElementById('alertMessage')
        alertMessage.style.display='none'
      }, 3000);
    </script>
    <% } %>
 
    
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form class="signin-form  " action="/signIn"  method="post">
          <h2 class="signin-heading">Sign In</h2>

          <!-- Email Input -->
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="Enter your email" required>
          </div>

          <!-- Password Input -->
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="Enter your password" required>
            <span class="toggle-password" onclick="togglePasswordVisibility()"><i class="fas fa-eye" id="toggleIcon"></i></span>
          </div>

          <!-- Sign In Button -->
          <button type="submit" class="btn btn-warning btn-block signin-button">Sign In</button>

          <!-- Forgot Password Link -->
          <p class="forgot-password-link "><a href="/forgetPass">Forgot Password?</a></p>

          <!-- Sign Up Link -->
          <p class="signup-link     text-dark ">Don’t have an account? <a href="/signUp">Sign Up</a></p>
          <a href="/home">Back</a>
        </form>
      </div>
    </div>
  </div>


  <script>
    function togglePasswordVisibility() {
    const passwordInput = document.getElementById("password");
    const toggleIcon = document.getElementById("toggleIcon");
    if (passwordInput.type === "password") {
        passwordInput.type = "text";
        toggleIcon.classList.remove("fa-eye");
        toggleIcon.classList.add("fa-eye-slash");
    } else {
        passwordInput.type = "password";
        toggleIcon.classList.remove("fa-eye-slash");
        toggleIcon.classList.add("fa-eye");
    }
}
  </script>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
